<div>
    <h2 id="page-heading">
        <span jhiTranslate="gateApp.entry.home.title">Entries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entry" [routerLink]="['/entry/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gateApp.entry.home.createLabel">
            Create a new Entry
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="entries?.length === 0">
        <span jhiTranslate="gateApp.entry.home.notFound">No entries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="entries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="gateApp.entry.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span jhiTranslate="gateApp.entry.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="gateApp.entry.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blogName"><span jhiTranslate="gateApp.entry.blog">Blog</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of entries ;trackBy: trackId">
                    <td><a [routerLink]="['/entry', entry.id, 'view']">{{ entry.id }}</a></td>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.content }}</td>
                    <td>{{ entry.date | date:'medium' }}</td>
                    <td>
                        <div *ngIf="entry.blogId">
                            <a [routerLink]="['/blog', entry.blogId , 'view']" >{{ entry.blogName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/entry', entry.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/entry', entry.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(entry)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="entries?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
